.required-box {
  color: #ff4d4f;
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}
.optional-box {
  color: #faad14;
  border: 1px solid #ffe58f;
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #fffbe6;
}
