.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #666;
}
.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-size: 0.7rem;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
