.checkbox-section {
  margin-left: 110px;
  /* margin-top: 15px; */
  margin-bottom: 15px;
}
.checkbox-label {
  font-size: 0.9rem;
}
.checkbox {
  margin-right: 4px;
}

@media screen and (max-width: 800px) {
  .checkbox-section {
    margin-left: 5px !important;
  }
}
